<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Syntheism &#8211; Creating God in the Internet Age</title>
  <link rel="stylesheet" href="../bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-9" role="main">
      <br>
      <a href="../index.html">Back to index</a>
      <h1>{{ key.title }}</h1>
      {{#each key.paragraphsWithContent as |paragraph|}}
          <div>
            <a href="../{{ paragraph.chapter }}/index.html#{{ paragraph.paragraph }}">{{ paragraph.chapter }}:{{ paragraph.paragraph }}</a>
          </div>
          <div>
            {{{ paragraph.content }}}
            <br><br>
          </div>
      {{/each}}
    </div>
  </div>
  <br><br><br><br><br><br><br>
</body>
</html>
